### **Interacción de Python con Bases de Datos**

Python es una herramienta poderosa para interactuar con bases de datos, especialmente en el contexto del análisis y la manipulación de datos. En este contenido, exploraremos cómo conectarnos a una base de datos PostgreSQL utilizando **SQLAlchemy** y cómo utilizar las funciones de **pandas** para ejecutar consultas SQL y manejar datos de manera eficiente.

---

### **1. ¿Qué es una Base de Datos Relacional?**

Una **base de datos relacional** es un sistema de almacenamiento de datos estructurado en tablas, donde cada tabla contiene filas (registros) y columnas (atributos). Estas tablas están relacionadas entre sí a través de claves primarias y claves foráneas, lo que permite organizar y consultar datos de manera eficiente.

#### **Características de una Base de Datos Relacional:**
- **Tablas**: Datos organizados en formato de filas y columnas.
- **Relaciones**: Conexiones lógicas entre tablas mediante claves foráneas.
- **Lenguaje SQL**: Se utiliza para realizar operaciones como insertar, actualizar, eliminar y consultar datos.
- **Integridad**: Garantiza la consistencia y validez de los datos a través de restricciones.

**Ejemplo:**
En una base de datos de ventas, podríamos tener tablas como `Clientes`, `Productos`, y `Pedidos`. Cada pedido está relacionado con un cliente y un producto específico, lo que permite realizar consultas complejas, como obtener todos los pedidos de un cliente en particular.

---

### **2. Vincular Python a una Base de Datos PostgreSQL con SQLAlchemy**

**SQLAlchemy** es una biblioteca en Python que facilita la interacción con bases de datos relacionales. Ofrece una capa de abstracción que permite realizar operaciones SQL de manera programática.

#### **Instalación de SQLAlchemy:**

Para instalar SQLAlchemy y el controlador de PostgreSQL (`psycopg2`), ejecuta:

```bash
pip install sqlalchemy psycopg2-binary
```

#### **Conexión a PostgreSQL con SQLAlchemy:**

In [3]:
from sqlalchemy import create_engine

# Definir la cadena de conexión
# Formato: 'postgresql+psycopg2://usuario:contraseña@host:puerto/nombre_base_de_datos'
engine = create_engine('postgresql+psycopg2://ineadmin:V3uJnesQRYwc2J@db-ine.postgres.database.azure.com:5432/postgres')

# Verificar la conexión
connection = engine.connect()
print("Conexión exitosa a la base de datos.")
connection.close()

Conexión exitosa a la base de datos.

#### **Explicación del Código:**
- `create_engine`: Crea un objeto de motor (engine) que representa la conexión a la base de datos.
- `engine.connect()`: Establece la conexión a la base de datos y permite ejecutar comandos SQL.

---

### **3. ¿Qué es un Engine en SQLAlchemy?**

Un **engine** en SQLAlchemy es un objeto que gestiona la conexión a la base de datos y proporciona una interfaz para ejecutar sentencias SQL. Actúa como un intermediario entre Python y la base de datos, manejando la conexión, la ejecución de consultas y la gestión de transacciones.

#### **Características del Engine:**
- **Gestión de Conexiones**: El engine gestiona un pool de conexiones, permitiendo múltiples operaciones simultáneas.
- **Ejecución de SQL**: Proporciona métodos para ejecutar comandos SQL directamente.
- **Transacciones**: Permite realizar transacciones de manera eficiente y segura.

**Ejemplo de Uso del Engine:**

In [4]:
from sqlalchemy import create_engine, text

user = 'ineadmin'
password = 'V3uJnesQRYwc2J'
host = 'db-ine.postgres.database.azure.com'
port = 5432
db = 'postgres'

# Crear un engine
engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{db}')

# Ejecutar una consulta simple
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM inscriptos LIMIT 5"))
    for row in result:
        print(row)

(36381173, 36381173, 'Andrea', 'Macari', 'amacari@ine.gub.uy', 'MONTEVIDEO', 'BI', None)
(47065988, 47065988, 'Leonardo', 'Cuello', 'lcuello@ine.gub.uy', 'MONTEVIDEO', 'BI', None)
(34558356, 34558356, 'Israel', 'Falcon', 'ifalcon@ine.gub.uy', 'MONTEVIDEO', 'BI', None)
(43158258, 43158258, 'Cecilia ', 'Toledo ', 'ctoledo@ine.gub.uy', 'MONTEVIDEO', 'BI', None)
(29935933, 29935933, 'Viviana', 'Fernandez', 'vfernand@ine.gub.uy', 'MONTEVIDEO', 'BI', None)

---

### **4. Cómo Ejecutar SQL Usando SQLAlchemy**

SQLAlchemy permite ejecutar sentencias SQL directamente utilizando el objeto `engine` o a través de `Session`, que es una capa de abstracción que gestiona las transacciones y las conexiones.

#### **Ejecución Directa con Engine:**

In [7]:
from sqlalchemy import text

# Crear un engine y ejecutar una consulta
with engine.connect() as connection:
    # Sentencia SQL
    query = text("SELECT firstname, lastname FROM inscriptos WHERE necesita_pc = :necesita")
    
    # Ejecutar la consulta con un parámetro
    result = connection.execute(query, {"necesita": 1})
    
    # Mostrar los resultados
    for row in result:
        print(f"Nombre: {row.firstname}, Apellido: {row.lastname}")

Nombre: Diego, Apellido: Anza
Nombre: Marcela, Apellido: francia
Nombre: Maite, Apellido: Errandonea
Nombre: Esteban, Apellido: Muñoz
Nombre: CAROLINA, Apellido: REY
Nombre: Soledad, Apellido: Piedra

#### **Uso de la Sesión para Ejecutar SQL:**

In [8]:
from sqlalchemy.orm import sessionmaker

# Crear un sessionmaker vinculado al engine
Session = sessionmaker(bind=engine)

# Crear una nueva sesión
session = Session()

# Ejecutar una consulta utilizando la sesión
result = session.execute(text("SELECT * FROM inscriptos LIMIT 10"))

# Mostrar los resultados
for row in result:
    print(row)

# Cerrar la sesión
session.close()

(36381173, 36381173, 'Andrea', 'Macari', 'amacari@ine.gub.uy', 'MONTEVIDEO', 'BI', None)
(47065988, 47065988, 'Leonardo', 'Cuello', 'lcuello@ine.gub.uy', 'MONTEVIDEO', 'BI', None)
(34558356, 34558356, 'Israel', 'Falcon', 'ifalcon@ine.gub.uy', 'MONTEVIDEO', 'BI', None)
(43158258, 43158258, 'Cecilia ', 'Toledo ', 'ctoledo@ine.gub.uy', 'MONTEVIDEO', 'BI', None)
(29935933, 29935933, 'Viviana', 'Fernandez', 'vfernand@ine.gub.uy', 'MONTEVIDEO', 'BI', None)
(29621386, 23935992, 'Diego', 'Anza', 'danza@ine.gub.uy', 'MONTEVIDEO', 'BI', 1)
(46095867, 46095867, 'Pablo', 'Dubourdieu', 'pdubourdieu@ine.gub.uy', 'MONTEVIDEO', 'BI', None)
(19090640, 19090640, 'Andrea', 'Molina', 'Amolina@ine.gub.uy', 'MONTEVIDEO', 'BI', None)
(45304786, 45304786, 'Cecilia', 'García', 'cgarcia@ine.gub.uy', 'MONTEVIDEO', 'BI', None)
(30650421, 30650421, 'Marcela', 'francia', 'mfrancia@ine.gub.uy', 'MONTEVIDEO', 'BI', 1)

---

### **5. Usar `read_sql` y `to_sql` de Pandas con una Base de Datos**

**Pandas** ofrece funciones muy útiles para interactuar con bases de datos, permitiendo leer y escribir datos de manera eficiente.

#### **a. `read_sql`: Leer Datos de una Base de Datos**

La función `read_sql` permite ejecutar una consulta SQL y cargar los resultados en un DataFrame de pandas.

In [11]:
import pandas as pd

with engine.begin() as conn:
    query = text("SELECT * FROM inscriptos")
    df = pd.read_sql_query(query, conn)

# Mostrar los primeros registros del DataFrame
df.head()

,username,password,firstname,lastname,email,city,course1,necesita_pc
0,36381173,36381173.0,Andrea,Macari,amacari@ine.gub.uy,MONTEVIDEO,BI,NaN
1,47065988,47065988.0,Leonardo,Cuello,lcuello@ine.gub.uy,MONTEVIDEO,BI,NaN
2,34558356,34558356.0,Israel,Falcon,ifalcon@ine.gub.uy,MONTEVIDEO,BI,NaN
3,43158258,43158258.0,Cecilia,Toledo,ctoledo@ine.gub.uy,MONTEVIDEO,BI,NaN
4,29935933,29935933.0,Viviana,Fernandez,vfernand@ine.gub.uy,MONTEVIDEO,BI,NaN

#### **b. `to_sql`: Escribir Datos en una Base de Datos**

La función `to_sql` permite insertar datos desde un DataFrame a una tabla de la base de datos.

In [12]:
# Crear un DataFrame de ejemplo
df_new_data = pd.DataFrame({
    'nombre': ['Ana', 'Luis', 'Carla'],
    'edad': [28, 34, 45],
    'ciudad': ['Madrid', 'Barcelona', 'Valencia']
})

# Insertar el DataFrame en la tabla 'usuarios'
df_new_data.to_sql('usuarios', con=engine, if_exists='append', index=False)
print("Datos insertados exitosamente en la tabla 'usuarios'.")

Datos insertados exitosamente en la tabla 'usuarios'.

#### **Parámetros Útiles de `to_sql`:**
- `if_exists`: `append` (añadir datos a la tabla existente), `replace` (reemplazar tabla existente), `fail` (error si la tabla ya existe).
- `index`: Si se debe incluir el índice del DataFrame como una columna en la tabla.

---

### **Conclusión**

Conectarse a bases de datos desde Python y realizar operaciones SQL es fundamental para la gestión y análisis de datos. SQLAlchemy proporciona una interfaz poderosa para interactuar con bases de datos relacionales, y pandas facilita la manipulación y transferencia de datos entre DataFrames y tablas de base de datos. Estos conocimientos son esenciales para cualquier profesional que trabaje con datos y necesite integrarlos con aplicaciones y análisis.