### **Cuestionario de Evaluación sobre SQL (Opción Múltiple)**

A continuación, se presenta un cuestionario de 10 preguntas con opciones múltiples, basado en los conceptos fundamentales de SQL. A continuación de cada pregunta, tendrás un `input` de Python para ingresar la respuesta, y al final, se te devolverá la calificación. Recuerda que puedes sobreescribir los inputs si cambias de opinión. Al ingresar la respuesta, hazlo siempre ingresando únicamente la letra de la opción que entiendas correcta y en minúscula.

#### **1. ¿Cuál de las siguientes sentencias pertenece al DML (Data Manipulation Language) de SQL?**

a) CREATE TABLE  
b) DROP DATABASE  
c) UPDATE clientes SET nombre = 'Carlos' WHERE id = 5  
d) GRANT SELECT ON productos TO usuario1

In [31]:
p1 = ''

#### **2. ¿Qué comando se utiliza para crear una nueva base de datos en SQL?**

a) CREATE DATABASE  
b) NEW DATABASE  
c) ADD DATABASE  
d) INSERT DATABASE

In [32]:
p2 = ''

#### **3. Dada la siguiente tabla `ventas`, ¿cuál es la consulta correcta para obtener el nombre del producto y el total de ingresos (cantidad * precio) solo para aquellos productos cuyo ingreso total sea mayor a 500?**

```sql
producto | cantidad | precio
----------------------------
A        |   10     |  20
B        |   5      |  15
C        |   30     |  18
```

a) `SELECT producto, cantidad * precio AS total_ingresos FROM ventas WHERE cantidad > 500;`  
b) `SELECT producto, (cantidad * precio) AS total_ingresos FROM ventas WHERE total_ingresos > 500;`  
c) `SELECT producto, cantidad * precio AS total_ingresos FROM ventas HAVING total_ingresos > 500;`  
d) `SELECT producto, (cantidad * precio) AS total_ingresos FROM ventas WHERE cantidad * precio > 500;`

In [33]:
p3 = ''

#### **4. ¿Cuál de las siguientes consultas devuelve el nombre y el departamento de todos los empleados que trabajan en los departamentos de 'Marketing' o 'Ventas' y tienen más de 5 años de experiencia?**

```sql
empleados
----------
nombre     | departamento | experiencia
---------------------------------------
Laura      | Marketing    | 4
José       | Ventas       | 6
Carla      | IT           | 5
Ana        | Marketing    | 7
```

a) `SELECT nombre, departamento FROM empleados WHERE departamento = 'Marketing' AND 'Ventas' AND experiencia > 5;`  
b) `SELECT nombre, departamento FROM empleados WHERE departamento IN ('Marketing', 'Ventas') AND experiencia > 5;`  
c) `SELECT nombre, departamento FROM empleados WHERE experiencia > 5 IN ('Marketing', 'Ventas');`  
d) `SELECT nombre, departamento WHERE departamento IN ('Marketing', 'Ventas') AND experiencia > 5 FROM empleados;`

In [34]:
p4 = ''

#### **5. ¿Cuál es el resultado de la siguiente consulta?**
```sql
SELECT departamento, COUNT(*) AS total_empleados
FROM empleados
GROUP BY departamento
HAVING COUNT(*) > 2;
```
- Si `departamento` tiene las siguientes filas:
```sql
departamento
------------
Marketing
Ventas
IT
Ventas
Marketing
Ventas
IT
```

a) Devuelve todos los departamentos con más de 2 empleados, es decir, 'Ventas'.  
b) Devuelve todos los departamentos con exactamente 2 empleados.  
c) Devuelve todos los departamentos con menos de 2 empleados.  
d) Devuelve los departamentos 'Marketing' y 'Ventas' con más de 2 empleados.

In [35]:
p5 = ''

#### **6. La siguiente consulta SQL busca transformar datos en la tabla `productos`. Completa la consulta para agregar una columna calculada llamada `descuento_aplicado`, que reduzca el precio en un 10% si el precio es mayor a 50, y en un 5% en caso contrario. ¿Cuál es la opción correcta?**

```sql
SELECT nombre, precio,
       CASE
           WHEN precio > 50 THEN __________
           ELSE __________
       END AS descuento_aplicado
FROM productos;
```

a) `precio * 0.9, precio * 0.95`  
b) `precio - (precio * 0.1), precio - (precio * 0.05)`  
c) `precio + (precio * 0.1), precio + (precio * 0.05)`  
d) `precio * 0.10, precio * 0.05`

In [36]:
p6 = ''

#### **7. ¿Cómo se debe estructurar una consulta para obtener los tres empleados con los salarios más altos en la tabla `empleados`?**

```sql
empleados
---------
nombre    | salario
-------------------
Carlos    | 5000
Ana       | 7000
Miguel    | 4500
Luisa     | 6000
```

a) `SELECT nombre, salario FROM empleados ORDER BY salario ASC LIMIT 3;`  
b) `SELECT nombre, salario FROM empleados ORDER BY salario DESC LIMIT 3;`  
c) `SELECT nombre, salario FROM empleados ORDER BY salario ASC TOP 3;`  
d) `SELECT nombre, salario FROM empleados WHERE salario >= 5000;`

In [37]:
p7 = ''

#### **8. La tabla `pedidos` tiene las columnas `cliente_id`, `producto_id` y `fecha_pedido`. ¿Cuál de las siguientes consultas encuentra el número total de pedidos realizados por cada cliente en el año 2022?**

```sql
pedidos
---------
cliente_id | producto_id | fecha_pedido
----------------------------------------
1          | 101         | 2022-01-15
2          | 102         | 2021-12-12
1          | 103         | 2022-07-22
3          | 101         | 2022-04-30
```

a) `SELECT cliente_id, COUNT(*) AS total_pedidos FROM pedidos GROUP BY cliente_id;`  
b) `SELECT cliente_id, COUNT(*) AS total_pedidos FROM pedidos WHERE fecha_pedido = 2022 GROUP BY cliente_id;`  
c) `SELECT cliente_id, COUNT(*) AS total_pedidos FROM pedidos WHERE YEAR(fecha_pedido) = 2022 GROUP BY cliente_id;`  
d) `SELECT cliente_id, COUNT(*) AS total_pedidos FROM pedidos WHERE fecha_pedido LIKE '2022%' GROUP BY cliente_id;`

In [38]:
p8 = ''

#### **9. ¿Cuál es el propósito de la cláusula `LIMIT` en una consulta SQL y cómo se utiliza? ¿Cuál es la opción correcta para mostrar los primeros 3 productos con el precio más alto de la tabla `productos`?**

```sql
productos
---------
producto  | precio
------------------
X         | 50
Y         | 80
Z         | 30
W         | 90
```

a) `SELECT producto, precio FROM productos ORDER BY precio DESC LIMIT 3;`  
b) `SELECT producto, precio FROM productos ORDER BY precio ASC LIMIT 3;`  
c) `SELECT producto, precio FROM productos LIMIT 3 ORDER BY precio DESC;`  
d) `SELECT producto, precio FROM productos WHERE precio > 30;`

In [39]:
p9 = ''

#### **10. Escribe una consulta que devuelva el nombre del departamento y salario promedio por departamento, solo para aquellos departamentos donde el salario promedio sea superior a 3000. ¿Cuál es la opción correcta?**

```sql
empleados
---------
nombre    | departamento | salario
-----------------------------
Juan      | IT           | 3500
Ana       | HR           | 2500
Carlos    | IT           | 4000
Beatriz   | Ventas       | 3000
```

a) `SELECT departamento, AVG(salario) FROM empleados WHERE AVG(salario) > 3000 GROUP BY departamento;`  
b) `SELECT nombre, departamento, AVG(salario) FROM empleados GROUP BY departamento HAVING AVG(salario) > 3000;`  
c) `SELECT departamento, AVG(salario) AS salario_promedio FROM empleados GROUP BY departamento HAVING AVG(salario) > 3000;`  
d) `SELECT nombre, departamento FROM empleados WHERE salario > 3000;`

In [40]:
p10 = ''

Enviar resultados:

In [43]:
from sqlalchemy import create_engine, text

nombre = '' # Completa con tu nombre

user = 'ine_user'
password = ''
host = 'db-ine.postgres.database.azure.com'
port = 5432
db = 'postgres'

# Crear un engine
engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{db}')

# Ejecutar una consulta simple
with engine.begin() as connection:  # engine.begin() se asegura de que la transacción se haga commit
    query = text(f"""
        INSERT INTO respuestas (nombre, p1, p2, p3, p4, p5, p6, p7, p8, p9, p10)
        VALUES (:nombre, :p1, :p2, :p3, :p4, :p5, :p6, :p7, :p8, :p9, :p10)
    """)
    result = connection.execute(query, {
        'nombre': nombre,
        'p1': p1,
        'p2': p2,
        'p3': p3,
        'p4': p4,
        'p5': p5,
        'p6': p6,
        'p7': p7,
        'p8': p8,
        'p9': p9,
        'p10': p10
    })
    if result.rowcount == 1:
        print("A row has been added successfully.")
    else:
        print(f"{result.rowcount} rows have been added.")

    score = connection.execute(text(f"select * from resultados where nombre = '{nombre}'"))

    for row in score:
        print(f"Nombre: {row.nombre}, Respuestas correctas: {row.total_score}, Resultado: {row.calificacion}")

A row has been added successfully.
Nombre: daniel4, Respuestas correctas: 6, Resultado: Reprobado